{% extends 'maestra.html' %} //se llama el archivo maestro
{% block titulo %}Agencia de viajes el mocho{% endblock %} //se envia el titulo a block titulo de maestra.html
{% block contenido %} 
<main>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card">
      <img src="static/img/sanAndres.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">San Andres</h5>
        <p class="card-text">Un auténtico paraíso con cerca de cuarenta sitios para bucear, las mejores playas del Caribe.</p>
        <br>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/Mexico.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mexico</h5>
        <p class="card-text">Un sitio mágico donde encontrarás historia, rutas, gastronomía,
entre muchas cosas más de México.</p>
        <br>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/peru.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peru</h5>
        <p class="card-text">Maravíllate con la diversidad de nuestra riqueza natural, cultural e histórica.</p>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
</main>
{% endblock %} //este es el contenido que llevara block contedido en la pagina maestra   

