{% extends 'maestra.html' %} //se llama el archivo maestro
{% block titulo %}Mi primer pagina con Flask{% endblock %} //se envia el titulo a block titulo de maestra.html
{% block contenido %} 
        <h2>{{datos.subtitulo}}{{datos.usuario}}</h2> <!--intepolar el titulo --> 
    <br>
    {% if datos.catvehiculos > 0 %}
        <ul>
            {% for vehiculo in datos.vehiculos%}
            <li>{{vehiculo}}</li>
            {%endfor%}
        </ul>
        <div>Referencia del Renault: {{datos.referencias[2]}}</div>
    {% else %}
        <h3>No existen vehiculos para mostrar</h3>
    {% endif %}
        <select>
            {% for vehiculo in datos.vehiculos%}
            <option value="{{vehiculo}}">{{vehiculo}}</option>
            {%endfor%}
        </select>
        <table class="table table-hover table-borderes">
            <tr>
            <th>Marca</th>
            <th>Referencia</th>
            <th>Modelo</th>
            </tr>
            {% set count = namespace(a=0)%}
            {% set count1 = namespace(a=0)%}
            {% for vehiculo in datos.vehiculos%}
            <tr>
            <td>{{vehiculo}}</td>
            <td>{{datos.referencias[count.a]}}</td>
            {% set count.a = count.a + 1%}
            <td>{{datos.modelo[count1.a]}}</td>
            {% set count1.a = count1.a + 1%}
            <td>{{ref}}</td>
            {%endfor%}
            </tr>
        </table>
{% endblock %} //este es el contenido que llevara block contedido en la pagina maestra   

